

/* Основні стилі для хедера */
.header {
  background-color: #333; 
  padding: 10px 20px;
}

.nav {
  display: flex; 
  justify-content: center; 
}

.nav-list {
  list-style: none; 
  margin: 0; 
  padding: 0; 
  display: flex; 
}

.nav-item {
  margin: 0 15px; 
}

.nav-link {
  text-decoration: none; 
  color: #fff; 
  font-size: 16px;
  transition: color 0.3s; 
}

.nav-link:hover {
  color: #eea332; 
}



/* Сторінка пабів */



.pubs-block {
  padding: 20px;
  height: 100vh;
  background-color: #f9f9f9;
}


.title-pubs_page {
  font-size: 2.5em;
  text-align: center;
  margin-bottom: 20px;
  color: #333;
}


.pubs-container {
  display: flex;
  gap: 20px;
  justify-content: center;
}


.pub-card {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 15px;
  width: 100%;
  max-width: 400px;
  text-align: left;
  transition: transform 0.3s ease;
}


.pub-card h2 {
  font-size: 1.8em;
  margin-bottom: 10px;
  color: #2c3e50;
}


.pubs-location {
  font-size: 1.1em;
  margin-bottom: 8px;
}


.pubs-desc {
  font-size: 1em;
  margin-bottom: 8px;
}


.pubs-rating {
  font-size: 1.1em;
  font-weight: bold;
  color: #e67e22;
}


.pub-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.pub-image{
  max-height: 200px;
  height: 100%;
  object-fit: fill;
  width: 100%;
  border-radius: 12px;
  margin-bottom: 20px;
}

/*  */

/* Обзорнік паба */


.pub-detail-block {
  padding: 20px;
  max-width: 1200px;
  margin: auto;
}



.pub-image-review{
  width: 100%;
  max-height: 400px;
  height: 100%;
  object-fit: fill;
  border-radius: 12px;
  margin-bottom: 20px;
}

.beers-title {
  font-size: 2rem;
  margin: 20px 0;
  text-align: center;
  color: #333;
}

.beer-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
}

.beer-card {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.beer-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

.beer-name {
  font-size: 1.5rem;
  color: #333;
  margin-bottom: 10px;
}

.beer-type {
  font-size: 1rem;
  color: #555;
  margin-bottom: 5px;
}

.beer-description {
  font-size: 1rem;
  color: #777;
  margin-bottom: 10px;
  flex-grow: 1;
}

.beer-rating {
  font-size: 1.2rem;
  color: #f39c12;
  font-weight: bold;
  position: absolute;
  bottom: 10px;
  right: 10px;
}

.beer-rating::after {
  content: " / 5";
}
